body{
    background: #2c3e50;
    color: #fff;
    padding:20px;
    letter-spacing: 5px;
    float: left;
  }

.form-control {
    column-width: 50px;
}

  .tile{
    height:200px;
    width:200px;
    float:left;
    margin:5px 5px 5px 5px;
    padding:2px;
    font-size: 48px;
    line-height: 45px;
    letter-spacing: 5px;
    color: #ecf0f1;
  }

  /* div {
    display: inline-block;
    float: left;
} */

.tags {
  display: table;
}
.col {
  display: table-row;
}
.col label {
  display: table-cell;
}

  input {
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: antiquewhite;
    border-radius: 16px 0px 16px 0px
    }
    
    input:focus {
      background-color: white;
    }